.app {
  background-color: #282c34;
  color: white;
  height: calc(150vh - 100px);
  padding: 50px;
}

h1 {
  text-align: center;
  color: orange;
  font-size: 3em;
}

h1 fa {
  color: white;
  display: inline-block;
  transform: rotate(30deg);
}
